body {
  background-color:  #e1f2fb;
  color: #40514e ;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.top-container {
  background-color: #e1f2fb;

}
.main-container{
  display: flex;
  background-color: #e1f2fb;
  flex-flow: row wrap;
  justify-content: center;
}

.resume{
  padding: 50px;
}

.item2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.lastButton{
  margin-bottom: 50px;
}

a{
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.btn {
	-moz-box-shadow:inset 5px -5px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 5px -5px 0 0 #bbdaf7;
	box-shadow:inset 5px -5px 0 0 #bbdaf7;
	background-color:#11999e;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;

	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #528ecc;
}.btn:hover {
	background-color:#378de5;
}.btn:active {
	position:relative;
	top:1px;
}
