body {
  background-color: #e3e6ea;
  color: #40514e ;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}



h1 {
  width: 20%;
  margin: 0 auto;
  padding-top: 150px;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;

  color: #1982bf;
}

h3 {
  font-family: 'Montserrat', sans-serif;

  text-align: center;

    color: #1982bf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7% ;
  margin: 100px auto;
}



a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e1f2fb;
}

.intro{
  width: 50%;
  margin: 0 auto 0;
  line-height:2;
}

.profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 80px auto 10px;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}



.mountain {
  margin: 0 auto;
  height: 400px;
  width: 600px
}

.cloud1 {
  height: 125px;
  width: 150px;
  top: 50px;
  margin-left: auto;
  align-self: flex-start;
}

.cloud2 {

  height: 125px;
  width: 150px;
  margin-right: auto;
  bottom: 500px;
  align-self: center;
}

.top-design{
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-end;
  margin-top: 200px;

}

.troubleshoot {
  width: 180px;
  margin-right: 30px;
  margin-top: 30px;
}

.repair {
  width: 180px;
  margin-left: 30px;
  margin-top: 20px;
}

.skill-row1 {
  width: 50%;
  margin: 75px auto 150px;
  line-height:2;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skill-row2 {
  width: 50%;
  margin: 75px auto 150px;
  line-height:2;
  display:flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}


.middle-container{
  margin: 100px 0;
}

.clear1{
  text-align: left;
}

.clear2{
  text-align: right;
}

.description{
  max-width: 300px;
}

.tools{
  order: 2
}

.tools1{
  order: 1
}

.contact-message{
  width: 40%;
  margin: 40px auto 40px;
  line-height: 2;
}

.getInTouch{
  margin-bottom: 75px;
}

.bottom-container{
  margin: 0;
  background-color: #66bfbf;
  padding: 50px 0 20px;

}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
	-moz-box-shadow:inset 5px -5px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 5px -5px 0 0 #bbdaf7;
	box-shadow:inset 5px -5px 0 0 #bbdaf7;
	background-color:#11999e;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;

	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #528ecc;
}.btn:hover {
	background-color:#378de5;
}.btn:active {
	position:relative;
	top:1px;
}
.footer{
  height: 28px;
  width: 28px;
  margin: 0 8px 0 0 ;
  border-radius: 20%;
}

.footer-link{
  display: flex;
  flex-flow: row nowrap;
}

.fl{
  align-self: center;
}

.links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
